* { margin: 0; padding: 0; box-sizing: border-box;}

html {
    font-size: 18px;
}

body {
    font-family: 'Work Sans', Helvetica, Arial, sans-serif
}

a {
    color: black;
}

a:hover {
    color: crimson;
}

li {
    margin: .5rem 0;
    margin-left: 1.25em;
}

li a {
    text-decoration: none;
    font-weight: 450;
}

header {
    position: fixed;
    top: 0;
    right: 0;
}

main {
    display: flex;
    gap: 1em;
}

.container {
    padding: .5rem;
    overflow-y: auto;
    max-height: 100vh;
    padding-bottom: 2rem;
}

.left {
    box-shadow: 0 0 .875em -.5em black;
    min-height: 100vh;
    max-width: 300px;
    padding-right: 1rem;
}

.right {
    min-height: 100vh;
}

.header {
    font-size: .75rem;
}

.header h2 {
    font-weight: 400;
}

.resource-list-group h3 {
    margin-top: 2rem;
    margin-bottom: .25rem;
    font-weight: 600;
}

.resource-group {
    padding: .5rem;
    margin: .5rem;
    display: inline-block;
    vertical-align: top;
}

.resource-group-title {
    padding: .25rem;
    font-size: 1.75rem;
}

.resource-card {
    max-width: 400px;
    padding: .5rem;
    border: 1px solid black;
    margin-bottom: .5rem;
}

.resource-card:hover {
    background: #efefef;
}

.resource-title {
    margin-bottom: .5rem;
}

.resource-description {
    line-height: 1.25rem;
}

