body {
    background: var(--color-fg);
    color: var(--color-bg);
}

summary {
    text-align: center;
    margin: 2rem 0;
}

summary:hover {
    cursor: pointer;
}

.content-container {
    margin: 0 auto;
    max-width: 730px;
    padding: .5rem;
    padding-top: 3rem;
}

.final-project-statement h2 {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
}

.final-project-statement h3 {
    font-weight: 500;
    text-align: center;
    font-size: 1.25em;
    margin-top: .25em;
}

.final-project-statement p {
    line-height: 1.375em;
    margin: 1.5em 0;
    font-size: 1.25rem;
    font-weight: 400;
}

.gallery-menu {
    padding: 2rem .5rem;
    display: grid;
    gap: 2em;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery-menu__item {
    text-decoration: none;
    overflow: hidden;
}

.gallery-menu__item:hover .item__text {
    color: var(--color-fg);
    background: var(--color-bg);
}

.item__img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.item__text {
    color: var(--color-bg);
    padding: .625em;
    transition: background-color .125s, color .125s;
}

.text__artist-name {
    font-weight: 550;
    font-size: 1.125rem;
    line-height: 1em;
}

.text__work-title {
    font-family: var(--font-acc);
}
.cv {
    font-weight: 500;
}


@media only screen
and (max-width: 500px) {

    
}

/* iPhone Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .final-project-statement h2 {
        font-size: 1.75rem;
    }
    
    .final-project-statement h3 {
        font-size: 1em;
        max-width: 200px;
        margin: .75em auto;
    }

    .desktop-only {
        display: none;
    }
    
}

/* iPhone Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .final-project-statement h3 {
        font-size: .75em;
        margin: .75em auto;
    }
}